body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.row-content{
  margin: 0px;
 }

.row-header{
  margin:0px auto;
  padding:0px 0px;
}


.navbar{
  background-color:white;
  border:none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  
}

.icons{
  font-size: 20px;
  margin-bottom: 10px;
}

.icons span{
  padding-left: 20px;
  margin-bottom: 10px;
  color: darkslategray;
}

span:hover{
  color:tomato;
}
.navbar-brand{
  font-size: 32px;
  font-weight: bold;
  margin-right: 50px;
}

.navbar-nav .nav-item .nav-link{
  text-decoration: none;
  color:black;
  font-family:helvetica;
  font-size: 20px;
}

.title{
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.title u{
  padding-top:10px;
  text-decoration-style: solid;
  text-decoration-color: coral;
}

.content{
  text-align:center;
  text-shadow: lightgray;
  font-size: 24px;
  font-display:unset;
}

 
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
 position:absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align:center;
  pointer-events: none;
  color:#aaa;
  float:right;
}


/* .card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin:0px;
  text-align: center;
  font-family: arial;
  width: 350px;
  height:500px;
  
} */

/* .card-img-top{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  padding-bottom: 50px;

}
.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
} */

.footer p{
  margin-bottom:0px;
}

.search-box{
  border:1px solid lightgrey;
  border-radius:50px;
  background:white;
  width:max-content;
  display:inline-block;
  margin-bottom:20px;
}

/* .search-box:hover{
  box-shadow: 0 0 10px 2px #b7bbb7;
  border:1px solid #b7bbb7;
} */

.search-input{
  width:280px;
  border:thin;
  font-size:20px;
  outline:none;
  background: transparent;
  margin:10px 0 0 10px;
}

i{
  font-size:20px;
  margin: 0 15px 0 0;
  
}

i:hover{
  color:tomato;
}
button{
  background: transparent;
  border:none;
  outline:none;
}

.notification{
  background-color:transparent;
  color:white;
  text-decoration: none;
  padding:5px;
  position:relative;
  display:inline-block;
  
}

.notification .badge {
  position: absolute;
  top: -3px;
  right: -10px;
  padding: 3px 5px;
  border-radius: 50%;
  background-color:red;
  color: white;
}
